av

decord
einops
imageio
imageio-ffmpeg

kornia
matplotlib
moviepy
numpy
opencv-python
Pillow
pip
pyglet
pytorch-lightning
PyYAML
rich
roma
scikit-image
scikit-learn
scipy
tensorboard
timm
tqdm
transformers
trimesh
gradio
gradio_client
omegaconf
triton
altair
certifi
grpcio
httpx
Pygments
starlette
tifffile
yarl